


/* Define styles for the container */
.container {
    padding: 5vw; /* Use viewport width for responsive padding */
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vw;
    padding-top: 0;
  }
  
  /* Style for the heading */
  .heading {
    font-weight: 500;
    font-size: 2.1rem;
  }
  
  /* Style for the toolbar */
  .toolbar {
    width: 100%;
    display: flex;
    gap: 8vw; /* Adjusted for responsiveness */
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style for colors section */
  .colors {
    display: flex;
    gap: 2vw; /* Adjusted for responsiveness */
    padding: 0 5vw; /* Adjusted for responsiveness */
  }
  
  /* Style for individual color */
  .colors .color {
    height: 4vw; /* Adjusted for responsiveness */
    width: 4vw; /* Adjusted for responsiveness */
    border-radius: 50%;
    background-color: #239ce2;
  }
  
  /* Style for active color */
  .colors .active {
    border: 2px solid #000;
  }
  
  /* Style for toolbar button */
  .toolbar button {
    padding: 1vw 2vw; /* Adjusted for responsiveness */
    border-radius: 5px;
    background-color: #239ce2;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    gap: 1vw; /* Adjusted for responsiveness */
    align-items: center;
    cursor: pointer;
  }
  
  /* Style for button icon */
  .toolbar button svg {
    height: 2vw; /* Adjusted for responsiveness */
    width: 2vw; /* Adjusted for responsiveness */
  }
  
  /* Style for main content */
  .main {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    width: 100%;
  }
  